@media only screen and (max-width: 1000px) {
  .body_style
  {
    background-color: lightgrey;
    min-width: 100%;
    height: calc(100%+50px);
    position: static;
    display: block;
    word-wrap: normal;
  }
  .body_style>.about_me
  {
    padding:10px;
    min-height: 100%;
    display:block;
  }
  .body_style>.about_me>p>img
  {
    border: 1px solid #323232;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: center;
  }
  .body_style>.my_story
  {
    display:block;
    top: 100px;
    width: 92.5%;
    margin-left: 40px;
  }
  .body_style>.my_story>ul
  {
    padding: 0;
    margin: 0;
  }
  .body_style>.my_story>ul>li>h5
  {
    font-style: italic;
  }
}

@media only screen and (min-width: 1001px) {
  .body_style
  {
    background-color: lightgrey;
    min-width: 100%;
    position: static;
  }
  .body_style>.about_me
  {
    padding:10px;
    width: 30%;
    min-height: 100%;
  }
  .body_style>.about_me>p>img
  {
    border: 1px solid #323232;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .body_style>.my_story
  {
    position: absolute;
    right: 0;
    top: 100px;
    float: right;
    width: 65%;
  }
  .body_style>.my_story>ul
  {
    padding: 0;
    margin: 0;
  }
  .body_style>.my_story>ul>li>h5
  {
    font-style: italic;
  }
}
.small-info
{
  font-size: 12px;
  opacity: 75%;
  font-style: italic;
}
